* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#me {

}

div #topbox {
  margin: 10%;
  padding: 10%;
  line-height: 1.2em;
  font-size: 38px;
  border: 10px;
  border-style: groove;
  border-width: thin;
  text-align: center;
  /*height: 100%;*/
}

*{
    color: antiquewhite;
}

#socialnet div{
  margin: 10%;
  padding: 10%;
  line-height: 1.2em;
  border: 10px;
  border-style: groove;
  border-width: thin;
  text-align: center;
}

#mee {
    font-size: 30px;
}
body {
  background-image: url(http://i.imgur.com/ECtInPL.jpg)
}


h5 {
  margin: 10%;
  padding: 10%;
  line-height: 1.2em;
  font-size: 38px;
  border: 10px;
  border-style: groove;
  border-width: thin;
  text-align: center;
}

h3 {
  margin: 10%;
  padding: 10%;
  line-height: 1.2em;
  font-size: 38px;
  border: 10px;
  border-style: groove;
  border-width: thin;
  text-align: center;
}

div #developerit {
  justify-content: center;
}

.developerit {
  font-family: sans-serif;
  border: 30em;
  justify-content: space-around;
}

#devcontainer h1 {
    font-size: 50px;
}

/*#socialnet {
  margin: 0;
  padding: 0;
  line-height: 38px;
}*/


/*.class {
  button
}*/

/*#socialnet {
  margin: 25px;
  margin-top: 400px;
  border: 50px;
}*/

#streamsearch {
    height: 700%;
    width: 100%;
}

#pictureme {
    height: 50%;
    width: 50%;
}

#projects: {
  /*display: flex;
  text-align: center;
  border-style: groove;
  /*border-image: "https://g.twimg.com/Twitter_logo_blue.png"(ge)
  border-color: black;
  /*border-radius: 4px;*/
/*
  display: flex;
width: auto;
 border: solid black;
 float:left;
 margin: 10px;
 text-align: center;
 line-height: 40px;
 font-family: arial;
 font-weight: bold;
 font-size: 105%;
*/
}

#projects{
  margin: 10%;
  padding: 10%;
  line-height: 1.2em;
  font-size: 38px;
  border: 10px;
  border-style: groove;
  border-width: thin;
  text-align: center;
}


#twitter {
  border-style: dashed;
  display: flex;
  justify-content: space-around;
}

#twitter li img {
  border-style: groove;
  width: 50px;
  height: 50px;
}


#topbox h2 {
    font-size: 40%;
}